#mapInda {
    height: 812px;
    width: 100%;   
}

/* Alinhar no centro o navbar */
nav{
    text-align: center;
}

body{
    background: rgb(0,40,1);
    background: linear-gradient(36deg, rgba(0,40,1,1) 0%,
    rgba(3,80,0,1) 19%, 
    rgba(5,135,0,1) 37%, 
    rgba(0,189,29,1) 60%, 
    rgba(0,228,58,1) 81%, 
    rgba(0,255,81,1) 100%);

    /* Margem */
    margin: 0; 
    /* Margem interna */
    padding: 0;
    /* Largura */
    width: 100%;
    /* Altura */
    height: 100vh;
    /* Tamanho do fundo */
    background-size: cover;
    /* Tipo de caixa */
    display: table;  
}

.menu{
    margin-top: 10px;
    display: inline-block;
    /* Cor de fundo */
    background-color: black;
    width: 160px;
    height: 45px;  
    /* Margem interna de cima */
    padding-top: 20px;
    color: #fff;
    /* Letra de forma */
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    /* Largura da letra */
    font-weight: lighter;
    /* Tamanho da letra */
    font-size: 21px;
    /* Transicão de entrada */
    transition: 1s;     
}
/* Ação que sera feita quando passar o mouse por cima */
li:hover{
    transition: 1s;
    background: #0dbbed;
}

ul li a{
    /* Tirar linha de baixo da letra */
    text-decoration: none;
    color: white;
} 

/* Posicionar o footer fixo em baixo */
footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;   
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
}
